.bar {
    background-color: rgba(2, 7, 24, 1);
    /* border-radius: 24px; */
    border-radius: 0;
}

* {
    color: #e6f5ff;
    border-radius: 24px;
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
}

tooltip {
    background-color: #020718;
    color: #e6f5ff;
    border-radius: 12px;
}

.workspace-circle-current {
    font-size: 26px;
    color: #e6f5ff;
    margin-right: 6px;
}

.workspace-circle-occupied {
    font-size: 26px;
    color: #e6f5ff;
    margin-right: 6px;
}

.workspace-circle-empty {
    font-size: 26px;
    color: #363c49;
    margin-right: 6px;
}

.search-button-box {
    padding-left: 24px;
}

.search-button {
    color: #e6f5ff;
    font-size: 26px;
    border-radius: 0;
    padding-left: 0px;
    padding-right: 4px;
}

calendar {
    background-color: #020718;
    font-size: 16px;
    color: #e6f5ff;
}

calendar.header {
    color: #43B1ED;
    font-weight: bold;
}

calendar.button {
    color: #43B1ED;
}

calendar.highlight {
    color: #43B1ED;
    font-weight: bold;
}

calendar:selected {
    background-color: #e6f5ff;
    color: #020718;
}

calendar:indeterminate {
    color: #626d83;
}

.clock {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 32px;
}

.time-display {
    font-size: 12px;
}

.date-display {
    font-size: 12px;
}

.calendar-box {
    background-color: #020718;
    padding: 12px;
    border-radius: 14px;
}

.battery-display-text {
    /* Mono version has larger lightning icon */
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 16px;
    padding-left: 8px;
}

.battery-display-circle-top {
    color: #e6f5ff;
}

.battery-display-circle-bottom {
    color: #626d83;
}

.powermenu {
    padding-right: 12px;
    font-size: 24px;
}

.powerbutton {
    padding-left: 8px;
    padding-right: 8px;
}

.powermenu-revealer {
    margin: 0;
    padding: 0;
}
