[init]
	defaultBranch = main
[user]
	email = skilled5041@gmail.com
	name = Skilled5041
[credential]
	credentialStore = gpg
[core]
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
